# Different datastructures and its built-in methods

# 1. List  and its methods

In [88]:
list1 = [ "venkat" , 1 , 2.0 , [ "deepa" , ( 4 , 5.0 )] , 1] #initialization of list1

In [89]:
list1

['venkat', 1, 2.0, ['deepa', (4, 5.0)], 1]

In [90]:
list2 = [7 , 45.6 , [ "kavya" ]] #initialization of list2

In [91]:
list2

[7, 45.6, ['kavya']]

# extend()

In [92]:
list3 = ["letsupgrade"] #initialization of list3

In [93]:
list3.extend(list1) # it adds the element of list1 to list3 at the end

In [94]:
list3

['letsupgrade', 'venkat', 1, 2.0, ['deepa', (4, 5.0)], 1]

# pop()

In [95]:
list3.pop() #it deletes the last element of list3

1

# insert()

In [96]:
list3.insert(1, "python") #inserts element in specific position

In [97]:
list3

['letsupgrade', 'python', 'venkat', 1, 2.0, ['deepa', (4, 5.0)]]

# index()

In [98]:
list3.index("python") #displays the index value of the element

1

# clear()

In [99]:
list2.clear() #clears all the elements of the list

In [100]:
list2

[]

# 2. Dictionary and its methods

In [101]:
d1 = { 
    "country" : "India" , 
    "state" : "Tamilnadu" , 
    "city" : "Coimbatore" , 
    "pincode" : 641027 
} 
 
#initialization of dictionary

In [102]:
d1

{'country': 'India',
 'state': 'Tamilnadu',
 'city': 'Coimbatore',
 'pincode': 641027}

# keys()

In [103]:
d1.keys() #returns key items from dictionary

dict_keys(['country', 'state', 'city', 'pincode'])

# values()

In [104]:
d1.values() #returns values from dictionary

dict_values(['India', 'Tamilnadu', 'Coimbatore', 641027])

# fromkeys()

In [105]:
keyitems = ("k1" , "k2" , "k3")
val = 1

In [106]:
d2 = dict.fromkeys(keyitems , val) #returns dictonary with specified keys and values

In [107]:
d2

{'k1': 1, 'k2': 1, 'k3': 1}

# setdefault()

In [108]:
u = d1.setdefault("residence","python avenue") 
#returns value of item with specified key , if the keey doesn't exist , it creates the one with specified value

In [109]:
d1

{'country': 'India',
 'state': 'Tamilnadu',
 'city': 'Coimbatore',
 'pincode': 641027,
 'residence': 'python avenue'}

# update()

In [110]:
x = d1.update({"street":"xyz"}) #updates the dictionary with new element

In [111]:
d1

{'country': 'India',
 'state': 'Tamilnadu',
 'city': 'Coimbatore',
 'pincode': 641027,
 'residence': 'python avenue',
 'street': 'xyz'}

# 3. Set and its methods

In [112]:
set1 = {"white" , "black" , "orange" , "pink" , "blue"} #initialization of set 1

In [113]:
set1

{'black', 'blue', 'orange', 'pink', 'white'}

In [114]:
set2 = {"cloud" , "moon" , "stars"} #initialization of set 2

In [115]:
set2

{'cloud', 'moon', 'stars'}

# union()

In [116]:
set3 = set1.union(set2) #returns a new set with items from both the sets

In [117]:
set3

{'black', 'blue', 'cloud', 'moon', 'orange', 'pink', 'stars', 'white'}

In [118]:
type(set3)

set

# discard()

In [119]:
set3.discard("pink") #removes an element from the set

In [120]:
set3

{'black', 'blue', 'cloud', 'moon', 'orange', 'stars', 'white'}

# add()

In [121]:
set2.add("rainbow") #adds element to the set

In [122]:
set2

{'cloud', 'moon', 'rainbow', 'stars'}

# isdisjoint()

In [123]:
set1.isdisjoint(set2) #returns truw if there is no intersection between the sets, otherwise false

True

# symmetric_difference()

In [124]:
p = {1 , 2 , 3 , 3 , 4 , 5 , 5 , 7}

q = {1 , 2 , 2 , 3}

#returns a set that contains all items from both the sets , except intersection of both sets

In [125]:
p.symmetric_difference(q)

{4, 5, 7}

# 4. Tuple and its  two built-in methods

In [126]:
tup = ("cloud" , 1 , 5 , 2.0 , "sky" , 5) #initialization of tuple

# count()

In [127]:
tup.count(5) #returns number of occurence of an item in a tuple

2

# index()

In [128]:
tup.index(5) #returns index of an element in a tuple

2

# Some other methods

# len()

In [129]:
print(len(tup)) #returns length of a tuple

6

# type()

In [130]:
type(tup) #returns type of the variable

tuple

# del

In [131]:
del tup #deletes tuple

In [132]:
tup

NameError: name 'tup' is not defined

# 5. Strings and its methods

In [133]:
string = "COLOURS ARE BEAUTIFUL" #initialization of string

# find()

In [134]:
string.find("O") #it finds the first index position of a character

1

# isalpha()

In [135]:
string.isalpha() 
#it checks whether the string contains only alphabets and returns True , else it returns False even when it encounters with space

False

# swapcase()

In [136]:
string.swapcase() #it swaps the case of the string ie., uppercase to lowercase and viceversa

'colours are beautiful'

# encode()

In [137]:
string.encode() #it encodes the string to UTF - 8

b'COLOURS ARE BEAUTIFUL'

# expandtabs()

In [138]:
name = "D\te\te\tp\ta"

expandname = name.expandtabs(6) #expand tab length to specified value

print(expandname)

D     e     e     p     a